<main>
<div class="container mt-5">
  <!-- Heading Row -->
  <div class="row mb-4">
    <div class="col text-center">
      <h1>HOMEPAGE</h1>
    </div>
  </div>

  <!-- Posts Row -->
  <div class="row">
  {{#each posts}}
    <div class="post-container post mb-3 border p-3 rounded">
      <h2><a href="/posts/{{id}}" class="text-decoration-none text-reset">{{title}}</a></h2>
      <p class="text-muted">Created by: {{user.username}} | Date: {{createdAt}}</p>
    </div>
  {{/each}}
  </div>
</div>
</main>
