<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="row">

<div class="col">
  <h2>LOG IN</h2>
</div>

<div class="col">

      <form class="login-form">

        <div class="mb-3">
          <label for="username-login" class="username-login">Username</label>
          <input type="text" class="username-login" id="username-login" aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
          <label for="password-login" class="password-login">Password</label>
          <input type="password" class="password-login" id="password-login" aria-describedby="emailHelp">
        </div>

        <button type="submit" class="btn btn-primary">Login</button>

      </form>

</div>

</div>
</div>

<script src="./js/login.js"></script>

