<div>

<p>CREATE NEW POST</p>

<form class="newpost-form" id="newpost-form">

    <div>
        <label>Title</label>
        <input class="postTitle" id="postTitle" type="text">
    </div>

    <div>
        <label>Content</label>
        <textarea class="postContent" id="postContent" rows="3">
        </textarea>
    </div>

    <button id="postButton" class="postButton" type="submit"> Create New Post! </button>

</form>

</div>