<p>POSTS</p>

<div>
    <form action="">

        <label for="">TITLE</label>
        <input type="text">

        <label for="">CONTENT</label>
        <input type="text">

        <button>SUBMIT</button>
    </form>
</div>