<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="row">
  
  <div class="col">
    <h2>SIGN UP</h2>
  </div>

  <div class="col">

    <form class="signup-form">

       <div>
          <label>Username</label>
          <input type="text" class="username-signup" id="username-signup" aria-describedby="emailHelp">
      </div>

      <div class="mb-3">
        <label>Password</label>
        <input type="password" class="password-signup" id="password-signup">
      </div>

      <button id="signup-form" type="submit" class="signup-form btn btn-primary">Sign UP</button>
  
    </form>

  </div> 

  <script src="/js/signup.js"></script>


