<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechBlog-MVC</title>
</head>

<body>
    
    <header></header>

    <main>

        {{{body}}}

    {{!-- if logged in, show log out button --}}
    

    if logged in is true and 

    </main>

    <footer></footer>

</body>

</html>